
.post-width-in-lg{
    margin-bottom: 1rem;
    max-width: 500px;
}
.posted-by-user-info-wrapper{
    display: flex;
    justify-content: start;
    align-items: center;
}
.colored-bg{
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}